@{
    ViewData["Title"] = "Shops";
}
<style>
    .in-cart-btn {
        background-color: green;
        color: white;
        border: none;
    }

        .in-cart-btn:hover {
            background-color: darkgreen;
        }</style>
<div class="row">
    <div class="col-lg-3">
        <div class="list-group">
            @foreach (var shop in Model.ShopNames)
            {
                <a href="?shopName=@shop" class="list-group-item list-group-item-action" onclick="selectAnchor(this)">@shop</a>
            }
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row d-flex justify-content-around p-3">
            @foreach (var product in Model.Products)
            {
                <div class="card mb-3" style="width: 16rem;">
                    <img src="@product.Image" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Price ₴</p>
                        <button class="btn btn-primary addToCartBtn">Додати в корзину</button>
                        <a class="btn btn-success d-none" href="/cart">В кошику</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/js/index.js" asp-append-version="true"></script>